<form method="POST" action="/add">
    Image: <input type="text" name="imagePath">
	Label: <input type="text" name="label">
    Weight: <input type="text" name="weight">
	<input type="submit">	
</form>

{{!-- <div>
    <ul>
    {{#each allBears as |bear|}}
        <li class = "beardata"><img class="resize" src="{{{bear.imagePath}}}" align="left">; {{bear.label}}; {{bear.weight}} lbs.</li>
    {{/each}}
    </ul>
</div> --}}
