<!DOCTYPE html>
<link rel="stylesheet" href="/css/main.css">
<head>
<title>bears.ai</title>
</head>
    <body class="body">
        <img src="../img/header.png">
        <h1>bears.ai</h1>

        <ul class="layout">
            <li class="layout">
                <a href="../">Home</a>
            </li>
            <li class="layout">
                <a href="../search">Search</a>
            </li>
            <li class="layout">
                <a href="../add">Add</a>
            </li>
        </ul>  
          

          
          {{{body}}}
    </body>
</html>